@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&family=Ubuntu:wght@300;500;700&display=swap');
@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header{
    background-image: url('../images/header/bj.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 70px 0 38px;
    color: #fff;
    &__desc{
        font-size: 18px;
        line-height: 25px;
        margin-top: 140px;
        margin-bottom: -35px;
    }
    &__title{
        @extend %notosans-bold;
        font-size: 64px;
        line-height: 87px;
        margin-bottom: 3px;
    }
    &__text{
        font-size: 42px;
        line-height: 57px;
        margin-bottom: 110px;
    }
    &__btn{
        margin-bottom: 250px;
        color: #fff;
        &::before{
            content: url('../images/header/header-arrow.svg');
            border: 2px solid #fff;
        }
    }
}

.social{
    &__list{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__link{
        padding: 0 10px;
    }
}


.services {
    padding: 150px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content{
        max-width: 510px;
    }
    &__box{
        margin-bottom: 50px;
    }
    &__subtitle{
        @extend %notosans-bold;
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 25px;
        color: #303030;
    }
}

.rate{
    margin-bottom: 150px;
    &__slider{
        max-width: 510px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__content{
        max-width: 600px;
        padding-left: 10px;
    }
    &__content-text{
        @extend %notosans-bold;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 19px;
    }
    &__body-items{
        margin-bottom: 120px;
    }
    &__body-link{
        font-size: 18px;
        line-height: 25px;
        color: #303030;
        margin-right: 40px;
        &:nth-child(3){
        margin-right: 0;
        }
    }
    &__body-link--active{
        border-bottom: 1px solid #303030;
    }
    &__slider-column{ 
        max-width: 510px;
        display: flex;
        justify-content: space-between;
    }
    &__body-desc{
        max-width: 235px;
        padding-bottom: 15px;
    }
    &__body-boxs{
        max-width: 510px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 100px;
    }
    &__body-box{
        max-width: 235px;
        padding: 10px 20px 10px 0;
    }
    &__body-subject{
        @extend %notosans-bold;
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 25px;
    }
    &__body-column{
        display: none;
    }
    &__body-column--active{
        display: block;
    }
    &__body-img{
        object-fit: contain;
    }
}

.slick-arrow{
    position: absolute;
    left: 276px;
    bottom: -3px;
    cursor: pointer;
    z-index: 6;
}
.slick-right{
    left: 345px;
}


.news {
    background-image: url('../images/1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    &__text{
        @extend %notosans-regular;
        color: #fff;
        max-width: 680px;
        font-size: 42px;
        line-height: 57px;
        display: inline-block;
        padding: 132px 0 140px;
    }
}


.clients {
    position: relative;
    padding: 150px 0 0 0;
    &__slider-inner{
        padding: 0 10px 60px 0;
        display: flex;
        overflow: hidden;
    }
    &__content{
        margin-left: 90px;
    }
    &__content-subtitle{
        @extend %notosans-bold;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    &__content-box{
        padding-left: 50px;
        position: relative;
    }
    &__content-text{
        padding-bottom: 20px;
        &:nth-child(5){
        padding-bottom: 0;
        }
    }
    &__btn{
        margin-top: 87px;
        margin-left: 95px;
        color: #303030;
        &::before{
            content: url('../images/clients/arrow-black.svg');
            border: 2px solid #303030;
        }
    }
}


.steps {
    padding: 150px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__content{
        max-width: 510px;
        padding-right: 15px;
    }
    &__content-box{
        margin-bottom: 30px;
        &:last-child{
        margin-bottom: 0;
        }
    }
    &__content-num{
        font-size: 14px;
        line-height: 19px;
        color: #868585;
        margin-bottom: 10px;
    }
    &__content-title{
        font-size: 18px;
        line-height: 25px;
        @extend %notosans-bold;
        margin-bottom: 2px;
    }
}

.footer{
    background-image: url('../images/footer/footer-bj.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0 50px;
    color: #fff;
    &__title{
        color: #fff;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 150px;
    }
    &__info{
        max-width: 510px;
        margin-right: 40px;
    }
    &__input-text{
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        margin-bottom: 60px;
        padding: 0 15px 10px 2px;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    &__input-num{
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        margin-bottom: 120px;
        padding: 0 15px 10px 2px;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    &__btn{
        @extend %notosans-regular;
        color: #fff;
        display: inline-block;
        font-size: 18px;
        line-height: 25px;
        background-color: transparent;
        margin-left: 98px;
        &::before{
            content: url('../images/header/header-arrow.svg');
            border: 2px solid #fff;
        }
    }
    &__content-box{
        @extend %notosans-regular;
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 25px;
    }
    &__content-box a{
        color: #fff;
        margin-bottom: 3px;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__bottom-text{
        color: #fff;
    }
}

@import "media";
